<!DOCTYPE html>
<html lang=zh-CN>
<head>
    <meta charset=utf-8>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title></title>
    <!--    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script>document.addEventListener('DOMContentLoaded', function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
    })
    var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
    document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')</script>
    <link rel=stylesheet href={{publicHost}}/static/index.58d5e7ce.css>
</head>
<body>

<script>
    function getCookie (name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)")
        if (arr = document.cookie.match(reg)) {
            return unescape(arr[2])
        } else {
            return null
        }
    }

    // 设置cookie
    function setCookie (c_name, value, days) {
        var exp = new Date()
        exp.setTime(exp.getTime() + days*24*60*60*1000);
        document.cookie = c_name + "=" + escape(value) + ";expires=" + exp.toGMTString()
    }

    // 删除cookie
    function delCookie (name) {
        var exp = new Date()
        exp.setTime(exp.getTime() - 1)
        var cval = getCookie(name)
        if (cval != null)
            document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString()
    }

    var returnUrl = window.localStorage.getItem("wx_auth_before_return_url")
    //console.log('returnUrl', returnUrl)
    if(returnUrl!= ""){
        window.localStorage.setItem("wx_auth_before_return_url","")
        //setCookie("token", '{{user.userToken}}', 1)
        //console.log(document.cookie)
        //alert('returnUrl ' + returnUrl )
        window.location.href = returnUrl
    }

    console.log('clientType','{{clientType}}')
        {{#equal clientType "wx_official"}}
        window.userInfo = {
            jws_token: '{{user.userToken}}',
            nickname: '{{user.nickname}}',
            avatar: '{{user.avatar}}',
            sex: '{{user.sex}}',
            roles: '{{user.roles}}',
            id: '{{user.id}}',
            vip_level: {{user.vip_level}},
        }
        {{/equal}}
</script>

<noscript><strong>Please enable JavaScript to continue.</strong></noscript>
<div id=app></div>
</body>

<script src={{publicHost}}/static/js/chunk-vendors.js></script>
<script src="{{publicHost}}/static/js/index.js" ></script>
</html>