<!DOCTYPE html>
<html lang=zh-CN>
<head>
    <meta charset=utf-8>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title></title>
    <!--    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script>document.addEventListener('DOMContentLoaded', function () {
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
    })
    var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
    document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')</script>
    <link rel=stylesheet href={{publicHost}}/static/index.1b8708b7.css>
</head>
<body>

<script>
    console.log('clientType','{{clientType}}')
        {{#equal clientType "wx_official"}}
        window.userInfo = {
            jws_token: '{{user.userToken}}',
            nickname: '{{user.nickname}}',
            avatar: '{{user.avatar}}',
            sex: '{{user.sex}}',
            roles: '{{user.roles}}',
            id: '{{user.id}}',
        }
        {{/equal}}
</script>

<noscript><strong>Please enable JavaScript to continue.</strong></noscript>
<div id=app></div>
</body>

<script src={{publicHost}}/static/js/chunk-vendors.js></script>
<script src="{{publicHost}}/static/js/index.js" ></script>
</html>